<div class="artist-container" >
      <img class="artist-img" src="https://clutchpoints.com/wp-content/uploads/2017/10/Kobe-Bryant-e1508564618882.jpg" alt="">
      <div class="artist-container">
        <h5 class="artist-info-container">Kobe Bryant</h5>
        <p class="artist-info-container">LAK</p>
      </div>
</div>